@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Suez+One:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.img{
    top:12vh;
    position: fixed;
    height: 100vh;
}
#button {
    background-color: black;
    text-align: center;
    text-decoration-color: white;
    color: white;
    text-align: center;
    width: 95.0%;
    margin-bottom: 150px;
    font-size: 20px;
}

#button:hover{
    background-color: rgb(30, 30, 30);
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;


}


.main {
    display: flex;
}

#Billingform,
#roadmap,
.forminline input {
    display: inline-block;
}

#Billingform {
    background-color: #F4EFFF;
    width: 58.2%;
}

#roadmap {
    /* background-color: #CAB8F1; */
    width: 41.8%;
    float: right;
    height:100%;
}

input {
    border-radius: 5px;
    border-width: 1px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 1%;
    padding-left: 1%;
    margin-bottom: 2%;
    margin-left: 3%;


}

.long {
    width: 74.75%
}

label {
    padding-bottom: 1.5%;
    margin-left: 3%;
    font-weight: 100;

}

fieldset {
    margin-left: 8%;
    margin-right: 50px;
    border: none;
}

.fieldset {
    padding-top: 5%
}

.forminline {
    display: flex;
    flex-wrap: wrap;
}


.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    height: 5%;
    padding: 1%;
    padding-bottom: 0;
    padding-left: 3%;
    padding-right: 3%;
    font: 400 18px / 1.16 "Raleway", Helvetica, Arial, serif;
    background-color: white;
    position: fixed;
    top:0px;
    height:10vh;
    width:94%;
    z-index: 1;

}

.header img {
    position: absolute;
    float: left;
    height: auto;
}

.logo {
    width: 15%;
    height: auto;
    cursor: pointer;
}

.header .topnav {
    display: inline-flex;
    align-items: center;
    overflow: hidden;

}

.header .topnav a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
}

.header .topnav a:hover {
    color: rgb(179, 58, 239, 1)
}

.header .topnav a img {
    position: relative;
    top: -8px;
}
.left-col-1{
    flex-basis: 47.5%;
    margin-left:10px;
    
}
.left-col-2{
    flex-basis:49%;
    margin-right:0px;
}
.inline1{
    height:30px;
    padding:5px;
}
#Billingform{
    position: absolute;
    margin-top:71px !important;
}
.footer{
    position: absolute;
    top: 1300px;
    bottom: 0;
    background-color:#000000;
    width: 100%;
    left: 0;
    right: 0;
    height: 405px;
}

.footer .logo1{
    position: absolute;
    top: 50px;
    padding-left:5% ;
}

.footer .links{
    position: absolute;
    top: 137px;
    right: 1207.2000732422px;
    bottom: 22px;
    left: 588px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 20px;
    font: 400 15px "Roboto", Helvetica, Arial, serif;
    color: white;
    text-align: center;
}

.footer .links h5{
    font: 800 16px/1.18 "Roboto", Helvetica, Arial, serif;
    font-size: 17px;
}

.footer .info{
    position: absolute;
    top: 90px;
    right: 1207.2000732422px;
    bottom: 22px;
    left: 829px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 244px;
    height: 20px;
    font: 400 15px "Roboto", Helvetica, Arial, serif;
    color: white;
    text-align: center;
}

.footer .info h5{
    font: 800 16px/1.18 "Roboto", Helvetica, Arial, serif;
    font-size: 17px;
}

.footer .cus{
    position: absolute;
    top: 81px;
    right: 1207.2000732422px;
    bottom: 22px;
    left: 1086px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 244px;
    height: 20px;
    font: 400 15px "Roboto", Helvetica, Arial, serif;
    color: white;
    text-align: center;
}

.footer .cus h5{
    font: 800 16px/1.18 "Roboto", Helvetica, Arial, serif;
    font-size: 17px;
}

.footer .policy{
    position: absolute;
    top: 360px;
    left: 1013px;
    padding-left:5% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 244px;
    height: 20px;
    font: 400 16px/1.18 "Roboto", Helvetica, Arial, serif;
    color: white;
    text-align: center;
}
.footer .policy h5{
    font: 600 16px/1.18 "Roboto", Helvetica, Arial, serif;
    font-size: 15px;
}

.footer .copy{
    position: absolute;
    top: 360px;
    padding-left:5% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 244px;
    height: 20px;
    font: 400 16px/1.18 "Roboto", Helvetica, Arial, serif;
    color: white;
    text-align: center;
}
.footer .copy h5{
    font: 600 16px/1.18 "Roboto", Helvetica, Arial, serif;
    font-size: 15px;
}

.footer .cookie{
    left: 510px;
    position: absolute;
    top: 360px;
    padding-left:5% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 244px;
    height: 20px;
    font: 400 16px/1.18 "Roboto", Helvetica, Arial, serif;
    color: white;
    text-align: center;
}
.footer .cookie h5{
    font: 600 16px/1.18 "Roboto", Helvetica, Arial, serif;
    font-size: 15px;
}
.footer .terms{
    left: 750px;
    position: absolute;
    top: 360px;
    padding-left:5% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 244px;
    height: 20px;
    font: 400 16px/1.18 "Roboto", Helvetica, Arial, serif;
    color: white;
    text-align: center;
}
.footer .terms h5{
    font: 600 16px/1.18 "Roboto", Helvetica, Arial, serif;
    font-size: 15px;
}
.footer span{
    padding-bottom: 5px;
}
.footer .soc img{
    top:150px ;
    position: absolute;
    padding-left: 5%;
    width: 44px;
    height: auto;
}
.footer #img2{
    left: 85px;
}

.footer #img3{
    left: 163px;
}
.footer a{
    text-decoration: none;
    color: inherit;
}



.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer !important;;
}


.header .topnav .dropdown-content {
  position: absolute;
  background-color: #e26bf196;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 30 !important;
  top: 75px;
  right: 1px;
  display: none;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 30;
  float: none !important;
}


.dropdown-content a:hover {background-color: #ddd;}


.show {display:block !important;
z-index: 10;}
.hide{display: none !important;}

.dd{
  padding: 0 !important;
  position: relative;
}
