html {
    background-color: rgb(244, 241, 252);
    margin: 10px 50px;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar #logo{
    width: 240px;
    margin-left: 0;
}

.navbar #cart{
    width: 43px;
    margin-left: -10px;
}

.navbar #cart:hover{
    content: url(imgs/cart_p.png);
}

.navbar #user{
    width: 43px;
    margin-left: -10px;
}

.navbar #user:hover{
    content: url(imgs/user_p.png);
}

.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    margin-left: 36%;
}

.navbar a{
    color: black;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    text-decoration: none;
    padding: 18px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    color: rgba(179, 58, 239, 1);
}

.navbar li{
    float: left;
}

.header{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin: 0 13%;
    text-align: center;
}

.header h1{
    font-size: 32px;
    font-weight: 500;
    margin: 30px 0;
}

.header p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(58, 59, 64, 1);
}

.sort{
    display: flex;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.sort .dropdown button{
    padding: 10px;
    padding-left: 14px;
    width: 120px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: rgba(92, 92, 97, 1);
    background-color: white;
    text-align: left;
    border: 2px solid rgba(179, 58, 239, 1);
    border-radius: 8px;
}

.dropdown a{
    display: block;
    text-decoration: none;
    color: rgba(92, 92, 97, 1);
    min-width: 96px;
    padding: 10px;
    padding-left: 14px;
}



.dropdown .content{
    display: none;
    position: absolute;
    background-color: white;
}

.dropdown:hover .content{
    display: block;
    border-radius: 8px;
    box-shadow: 3px 3px 7px rgba(143, 143, 143, 0.555);
}

.dropdown:hover button{
    background-color: rgba(233, 204, 255, 1);
}

.dropdown a:hover{
    background-color: rgba(133, 133, 133, 0.099);
}

main{
    max-width: 1500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto 0;
    margin-top: 10px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

main .card{
    max-width: 335px;
    flex: 1 1 335px;
    text-align: center;
    height: 400px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: white;
    margin: 10px 0;
}

main .card:hover{
    cursor: pointer;
    box-shadow: 3px 3px 8px rgba(168, 168, 168, 0.648);
}

main .card .image{
    height: 70%;
    margin-bottom: 20px;
}

main .card .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

main .card .caption{
    padding-left: 1em;
    text-align: left;
    line-height: 10px;
    height: 20%;
}

main .card .caption p{
    color: black;
}

main .card a{
    text-decoration: none;
}

footer{
    background-color: black;
    margin: 20px -58px -20px -60px;
}

footer .footer{
    height: 300px;
}







.product_images{
    display: flex;
}

main .product_images img{
    width: 460px;
}

.product_images div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_images .small {
    width: 100px;
    height: 100px;
    margin-right: 30px;
    background-color: white;
}

.product_images .small:hover{
    cursor: pointer;
}

.product_images .small img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product_images .big {
    width: 500px;
    height: 500px;
    background-color: white;
}

.product_images .big img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .verticle_line{
    width: 1px;
    height: 480px;
    margin-top: 10px;
    background-color: rgb(152, 152, 152);
}

.sizes{
    display: flex;
    gap: 5px;
}

.sizes div{
    border: 1px solid black;
    padding: 5px;
    width: 20px;
    text-align: center;
    border-radius: 3px;
}

.counter_btn{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.counter{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
}

.counter div{
    width: 30px;
    padding: 5px;
    text-align: center;
}

.counter_btn button{
    padding: 8px 15px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background-color: black;
}

.counter_btn button:hover{
    background-color: rgb(68, 65, 65);
    cursor: pointer;
}

.counter_btn .counter .op:hover{
    background-color: rgb(218, 217, 221);
    border-radius: 5px;
    cursor: pointer;
}

.product_details img{
    width: 13px;
}

.product_details h3{
    color: rgb(129, 130, 135);
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: -5px;
}

.product_details h1{
    font-size: 30px;
    min-width: 400px;
}

.product_details .sizes div{
    cursor: pointer;
}

.product_details .sizes div:hover{
    background-color: rgb(218, 217, 221);
}





/*=============================================================================================
===============================================================================================
==========================header new css======================================================*/

.header1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    height: 5%;
    padding: 1%;
    padding-bottom: 0;
    padding-left: 3%;
    padding-right: 3%;
    font: 400 18px / 1.16 "Raleway", Helvetica, Arial, serif;
    background-color: white;
    margin: -17px -58px 0 -60px;
}

.header1 img{
    position: absolute;
    float: left;
    height: auto;
}

#cart,
#user{
    width: 40px;
}

#user:hover{
    content: url(imgs/user_p.png);
}

#cart:hover{
    content: url(imgs/cart_p.png);
}

.logo{
    width: 15%;
    height: auto;
}
.header1 .topnav{
    display: inline-flex;
    align-items: center;
    overflow: hidden;
   
}
.header1 .topnav a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
  }

  .header1 .topnav a:hover{
    color:rgb(179,58,239,1)
  }

  .header1 .topnav a img{
    position: relative;
    top: -8px;
  }

  /*=============================================================================================
===============================================================================================*/